<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FibonacciServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="FibonacciServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44395/FibonacciService.asmx"
                binding="basicHttpBinding" bindingConfiguration="FibonacciServiceSoap"
                contract="FibonacciReference.FibonacciServiceSoap" name="FibonacciServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>